<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name='sales_order_save_after'>
        <observer name='esatisfaction_check_sales_status' instance='Esat\Esatisfaction\Observer\Esatisfaction'/>
    </event>
</config>
