<?xml version="1.0"?>
<config>
    <modules>
        <Esat_Esatisfaction>
            <version>0.1.0</version>
        </Esat_Esatisfaction>
    </modules>
	<admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <esatisfaction before="Mage_Adminhtml">Esat_Esatisfaction_Adminhtml</esatisfaction>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <global>
        <blocks>
            <esatisfaction>
                <class>Esat_Esatisfaction_Block</class>
            </esatisfaction>
        </blocks>
        <helpers>
            <esatisfaction>
                <class>Esat_Esatisfaction_Helper</class>
            </esatisfaction>
        </helpers>
		<models>
            <esatisfaction>
                <class>Esat_Esatisfaction_Model</class>
            </esatisfaction>
        </models>
		<template>
			<email>
				<esatisfaction_order_comments_answer>
					<label>e-Satisfaction email answer for order Comments</label>
					<file>esatisfaction/esatisfaction_order_comments_answer.html</file>
					<type>html</type>
				</esatisfaction_order_comments_answer>
			</email>
		</template>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <Esat_Esatisfaction>
                    <files>
                        <default>Esat_Esatisfaction.csv</default>
                    </files>
                </Esat_Esatisfaction>
            </modules>
        </translate>
    	<layout>
    		<updates>
    			<esatisfaction>
    				<file>esatisfaction.xml</file>
    			</esatisfaction>
    		</updates>
    	</layout>
		<events>
			<admin_system_config_changed_section_esatisfaction>
				<observers>
                    <Esat_esatisfaction_update_settings>
                        <class>esatisfaction/observer</class>
                        <method>sendSettingsToEsatisfaction</method>
                    </Esat_esatisfaction_update_settings>
                </observers>
			</admin_system_config_changed_section_esatisfaction>
			<sales_order_payment_cancel>
				<observers>
                    <Esat_esatisfaction_cancel_aftersales>
                        <class>esatisfaction/observer</class>
                        <method>cancelAfterSales</method>
                    </Esat_esatisfaction_cancel_aftersales>
                </observers>
			</sales_order_payment_cancel>
            <core_block_abstract_prepare_layout_before>
                <observers>
                    <Esat_esatisfaction_core_block_abstract_prepare_layout_before>
                        <type>singleton</type>
                        <class>esatisfaction/observer</class>
                        <method>esatisfactionGridAddColumn</method>
                    </Esat_esatisfaction_core_block_abstract_prepare_layout_before>
                </observers>
            </core_block_abstract_prepare_layout_before>
            <sales_order_collection_load_before>
                <observers>
                    <Esat_esatisfaction_sales_order_collection_load_before>
                        <type>singleton</type>
                        <class>esatisfaction/observer</class>
                        <method>salesOrderCollectionAddSmiley</method>
                    </Esat_esatisfaction_sales_order_collection_load_before>
                </observers>
            </sales_order_collection_load_before>
			<admin_session_user_login_success>
				<observers>
                    <Esat_esatisfaction_admin_session_user_login_success>
                        <type>singleton</type>
                        <class>esatisfaction/observer</class>
                        <method>updateAdminMenu</method>
                    </Esat_esatisfaction_admin_session_user_login_success>
                </observers>
			</admin_session_user_login_success>
		</events>
		<acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <esatisfaction>
                                            <title>e-satisfaction Settings</title>
                                        </esatisfaction>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
	<frontend>
		<layout>
			<updates>
				<esatisfaction>
					<file>esatisfaction.xml</file>
				</esatisfaction>
			</updates>
		</layout>
	</frontend>
</config>