<?xml version="1.0"?>
<config>
    <modules>
        <Esat_Esatisfaction>
            <version>2.0.4</version>
        </Esat_Esatisfaction>
    </modules>
    <frontend>
        <layout>
            <updates>
                <esatisfaction>
                    <file>esatisfaction.xml</file>
                </esatisfaction>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <esatisfaction>
                <class>Esat_Esatisfaction_Block</class>
            </esatisfaction>
        </blocks>
        <helpers>
            <esatisfaction>
                <class>Esat_Esatisfaction_Helper</class>
            </esatisfaction>
        </helpers>
        <models>
            <esatisfaction>
                <class>Esat_Esatisfaction_Model</class>
                <resourceModel>esatisfaction_resource</resourceModel>
            </esatisfaction>
            <esatisfaction_resource>
                <class>Esat_Esatisfaction_Model_Resource</class>
                <entities>
                    <item>
                        <table>esatisfaction_item</table>
                    </item>
                </entities>
            </esatisfaction_resource>
        </models>
        <resources>
            <esat_esatisfaction_setup>
                <setup>
                    <module>Esat_Esatisfaction</module>
                </setup>
            </esat_esatisfaction_setup>
        </resources>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <Esat_Esatisfaction>
                    <files>
                        <default>Esat_Esatisfaction.csv</default>
                    </files>
                </Esat_Esatisfaction>
            </modules>
        </translate>
        <events>
            <sales_order_save_after>
                <observers>
                    <esatisfaction_check_sales_status>
                        <class>esatisfaction/observer</class>
                        <method>check_order_status_change</method>
                    </esatisfaction_check_sales_status>
                </observers>
            </sales_order_save_after>
        </events>
    </adminhtml>
    <default>
        <esatisfaction>
            <application>
                <auto>1</auto>
            </application>
        </esatisfaction>
    </default>
</config>
